<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <table th:each="Job: ${jobs}" class = "job-listing">

      <tr>
        <td th:text="${'ID: ' + Job.id}"></td>
      </tr>
      <tr>
        <td th:text="${'Name: ' + Job.name}"></td>
      </tr>
      <tr >
        <td th:text="${'Employer: ' + Job.employer}"></td>
      </tr>
      <tr>
        <td th:text="${'Location: ' + Job.location}"></td>
      </tr>
      <tr >
        <td th:text="${'Position Type: ' + Job.positionType}"></td>
      </tr>
      <tr>
        <td th:text="${'Skills: ' + Job.coreCompetency}"></td>
      </tr>
    
  </table>

</div>

</body>
</html>